.wrapper
  .left-container
    .left-header
      .left-header__container
        %p.left-header__container__group 
          =current_user.name
        %ul.left-header__container__menu
          %li.left-header__container__menu__new
            = link_to new_group_path do
              %i.fa.fa-edit 
          %li.left-header__container__menu__edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog 
    .left-contents
      = render @messages
  .right-container
    .right-header
      .right-header__title
        %p.right-header__title__name 
          = @group.name
        %p.right-header__title__member 
          - @group.users.each do |user|
            = user.name
      
      = link_to edit_group_path(@group),class: "right-header__edit" do
        .right-header__edit__botton Edit
    .right-contents
      .right-contents__first
        .right-contents__first__user
          %p.right-contents__first__user__name test-user
          %p.right-contents__first__user__time 2019/05/24(Fri) 18:42:32
        %p.right-contents__first__text こんにちは!
      .right-contents__second
        .right-contents__second__user
          %p.right-contents__second__user__name test-user
          %p.right-contents__second__user__time 2019/05/24(Fri) 19:25:14
        %p.right-contents__second__text さようなら!
    .right-message    
      .right-message__form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'right-message__form__text', placeholder: 'type a message'
          .right-message__form__label
            = f.label :image do
              = fa_icon 'picture-o', class: 'fa'
              = f.file_field :image, class: 'right-message__form__label__file'
          = f.submit 'Send', class: 'right-message__form__send'