.wrapper
  .left-container
    .left-header
      .left-header__container
        %p.left-header__container__group 
          =current_user.name
        %ul.left-header__container__menu
          %li.left-header__container__menu__new
            = link_to new_group_path do
              %i.fa.fa-edit 
          %li.left-header__container__menu__edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog 
    .left-contents
      .left-contents__content
        - current_user.groups.each do |group|
          =link_to group_messages_path(group) do
            .left-contents__content__name 
              = group.name
            .left-contents__content__message 
              = group.show_last_message
  .right-container
    .right-header
      .right-header__title
        %p.right-header__title__name 
          = @group.name
        %p.right-header__title__member 
          - @group.users.each do |user|
            = user.name
      
      = link_to edit_group_path(@group),class: "right-header__edit" do
        .right-header__edit__botton Edit
    .right-contents
      = render @messages
    .right-message    
      .right-message__form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'right-message__form__text', placeholder: 'type a message'
          .right-message__form__label
            = f.label :image do
              = fa_icon 'picture-o', class: 'fa'
              = f.file_field :image, class: 'right-message__form__label__file'
          = f.submit 'Send', class: 'right-message__form__send'